/* This is some default styling for the exercise */
*{
	box-sizing: border-box;
}

body{
  min-width: 30em;
}

.container{
	display: flex;
	flex-wrap: wrap;
}

@media only screen and (min-width: 30em){
    	.navigation {

    	}


    }


@media only screen and (max-width: 43em){


	#overview{

	  background-image: url('../img/bg.jpg');
		background-repeat: no-repeat;
		background-size: 40em;
		width: 100%;
	  height: 80vh;
		-webkit-background-size:cover;
	  -moz-background-size:cover;
	  -o-background-size:cover;
	  background-size:cover;
	  background-position:center;

	}

		#overview p{
			/* color: transparent; */
			color: #fff;
		  font-size: 1.3rem;
		  position: absolute;
		  top: 35%;
		  left: 50%;
		  margin-right: -50%;
		  transform: translate(-50%, -50%);
		}

		}

		@media only screen and (max-width: 33em){


			#overview{

			  background-image: url('../img/bg.jpg');
				background-repeat: no-repeat;
				background-size: 40em;
				width: 100%;
			  height: 60vh;
				-webkit-background-size:cover;
			  -moz-background-size:cover;
			  -o-background-size:cover;
			  background-size:cover;
			  background-position:center;

			}

				#overview p{
					/* color: transparent; */
					color: #fff;
				  font-size: 1rem;
				  position: absolute;
				  top: 30%;
				  left: 50%;
				  margin-right: -50%;
				  transform: translate(-50%, -50%);
				}

				}
