/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/


/* header{
  height: auto;
  width: 100%;
} */
/*
header h1{
  text-align: center;

  margin: 0;
  padding: 25px;
  font-size: 2.5em;
  color: #6F7486
} */

#overview{
  width: 100%;
  height: 100vh;
  background-image: url('../img/bg.jpg');

}
.tophead{
  width: 100%;
  height: 65px;
  /* background: darkgrey; */
  display:flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;

}

.brandlogo{
  color: #D4D4D4;
  font-size: 2.1rem;
  padding-left: 50px;
}
.menulines{
  font-size: 30px;
  cursor: pointer;
  margin-right: 50px;
  color: #D4D4D4;
}

.container{
	display: flex;
	flex-wrap: wrap;
}

body {
  font-family: Tahoma, Geneva, sans-serif;
  background-color: #f1f1f1;
  margin:0;

}

.body_text{
  flex: 4;
  padding: 0;
  height: 100%;
  margin: 0;
}

.body_text h2{
  text-align: center;
}


.navigation{

  	margin: 0;
    flex:1;
    height: auto;
    height: 100%;
      width: 0;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      /* background: #6F7486; */
      background: #61656F;
      opacity: 0.5;
      overflow-x: hidden;
      padding-top:60px;
      transition: all 0.5s;

}
.navigation ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #6F7486;


  /* border-right-width: 0.1rem;
  border-right-style: solid;
  border-right-color: gray; */


  /* background-color: #7D7D7D; */
}



.navigation a {

  border-bottom-width: 0.1rem;
  border-bottom-style: solid;
  border-bottom-color: gray;
}



.navigation  a{
  display: block;
  color: #ECE8DF;
  padding: 1.3em 2.5em 1.3em 2.5em;
  text-decoration: none;
  text-align: center;


}

.navigation  a:hover{
  color: #6F7486;
  background-color:#ECE8DF;
}

#overview{
  width: 100%;
  margin: 0;
}

#overview p{
  color: #fff;
  font-size: 2.1rem;
  position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


#NewArrival h2{
  color: Black;
  font-size: 3rem;
  text-align:center;
  margin-top: 60px;
  margin-bottom: 15px;
}
.product_seemore{
  padding-top: 20px;
  text-align: right;
}
.product_seemore a{
  color: #80745D;
  font-size: 1rem;
  text-decoration: none;
}

.product_seemore a:hover{
  color: #CDB76E;
}


.footer-div{
  width: 100%;
  height: auto;
  margin: auto;
  background: gray;
  padding: 20px 0px;
}

.footer-icons{
  width: 100%;
  height: auto;
  margin: auto;
}

.footer-div ul{
  margin: 0;
  padding: 0;
  padding-top: 20px;
  text-align: center;
}

.footer-div ul li{
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 15px;
  border-radius: 100%;
  background: white;
}

.footer-div ul li a{
  color: #272727;
  font-size: 25px;
}

.footer-div ul li a i{
  line-height: 50px;
}

.footer-text{
  width: 100%;
  height: auto;
  margin: auto;
  text-align: center;
  font-size: 0.9rem;
  display: block;
  color: white;
}



























.intext_link p a{
  color: #CDB76E;
}

.intext_link p a:hover{
  color: #B7CD6E;
  /* background: ; */
}

.nav_link {
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: #CDB76E;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 8px;
  cursor: pointer;
}

.nav_link:hover, .nav_link:focus {
  background-color: #B7CD6E;
}

.submit_btn{
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: #9B9B9B;
  text-decoration: none;
  cursor: pointer;

}

.submit_btn:hover, .submit_btn:focus {
  background-color: #808080;
}

.textInput_label{
  border: 2px solid darkgrey;
  border-radius: 8px;
  padding: 10px;
  display: inline-block;
}

.textInput_label input:hover{
  color: #808080;
  background: #EEEEEE;
  transition: 0.3s;
}

.textInput_label label{
  color:#626262;
}

.element {
  padding: 2rem;
  border-bottom-width: 0.15rem;
  border-bottom-style: solid;
  border-bottom-color: darkgray;
  text-align: center;
}



.img_link {
  width: 30%;
  position: relative;
  cursor: pointer;
  height: auto;
}

.img_link img{
  display: block;
  width: 100%;
  height: auto;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #D7C094;
}

.img_link:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: relative;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
  text-align: center;
}

.Paragraph{
  flex: auto;
  padding: 10px;
  max-width: 80%;
}

.orderList ol li{
  font-size: 2em;
  color:#D7C094;
}

.orderList ol li span{
  color:#D7C094;
  font-weight: bold;
}

.navbar{
  list-style-type: none;
  width: 17vh;
  background-color: white;
  height: auto;
  overflow: auto;

}

.navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  height: auto;
  overflow: auto;
  /* background-color: #7D7D7D; */
}



.navbar ul li a {
  height: 25px;
  border-bottom-width: 0.1rem;
  border-bottom-style: solid;
  border-bottom-color: gray;
}



.navbar ul li a{
  display: block;
  color: #000;
  text-decoration: none;
  text-align: center;
  padding: 14px 14px;

}

.navbar ul li a:hover{
  color: #E1E1E1;
  background-color:#D7C094;
}

.productList{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 230px;
  margin: 0;
  text-align: center;
  display: inline-block;
  margin: 30px;
}

.productList img{
  max-width: 230px;
  margin: 0 0 15px 0;
  width: 100%;
  height: auto;
}



.price {
  color: grey;
  margin: 5px;
  font-size: 22px;
}

.productDescription{
  color: darkgrey;
  margin: 10px;
  font-size: 15px;
}



.productDetail{
  color: #CDB76E;
}

.productDetail:hover{
  color: #80745D;
}

.cardBtn {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color:#D7C094;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.cardBtn:hover {
  background-color: #80745D;
  opacity: 0.7;}

/* reference from https://www.w3schools.com/howto/howto_css_product_card.asp */

.paymentForm{

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display:block;
  background-color: #e1e1e1;
  padding: 0 25px 25px 25px;
}


.paymentForm h4{
  color: #D7C094;
  font-size: 20px;
}

.paymentForm label{
  font-size: 15px;
}


.userInfo{
  margin: 15px;
  display: inline-block;
}


.checkoutPage{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: auto;
  text-align: center;
  border-radius: 8px;
  background-color: white;
  align-items:center;
}




.cart_info{
  display: inline-block;
  margin-bottom: 20px;
}

.cartProduct{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: block;
  background-color: white;
  padding: 5px 25px 25px 25px;
  width: auto;
  margin-top: 0;
  max-width: 600px;

  border-top-width: 0.1rem;
  border-top-style: solid;
  border-top-color: darkgray;
}

.cartProduct img{
  display: inline-block;
  margin-left: 0;
  max-width: 80px;
  margin-top: 15px;
  margin-right: 160px;
  height: auto;
  border-radius: 5px;

}

.quatity{
  padding: 15px 0 0 0;
  margin-left: 50px;
}

.Cartprice{
  margin-left: 70px;

}

.checkoutPage button{
margin: 0;
}

.checkoutPage button {
  border: none;
  outline: 0;
  margin: 20px;
  color: white;
  background-color:#D7C094;
  text-align: center;
  cursor: pointer;
  width: 30%;
  font-size: 18px;
}

.checkoutPage button:hover {
  background-color: #80745D;
  opacity: 0.7;}





.color_palle img{
  display: block;
  height: auto;
  width: 80%;
}

.font_img img{
  display: inline-block;
  height: auto;
  width: 30vh;
}

.artDirection img{
  display: block;
  height: auto;
  width: 80%;
}


.element h3{
  color: #989184;

  display: inline;
  font-size: 1.4em;
  padding: 0 ;
}

.element h4{

  color: gray;

}
/*
nav a:hover, nav a:focus {
  text-decoration: none;
} */

code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}


/*
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */




/*
  TEXT ELEMENTS -------------------
*/




/*
  COMBINED ELEMENTS -------------------
*/



.container-payment {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  width:70%;
}



input[type=text] {
  width: 80%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.icon-container{
  font-size: 2em;
  padding: 7px 0;
}

.button-continue {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1em;
}

.button-continue:hover {
  background-color: #45a049;
  text-decoration: underline;

}
.textinput-label,.buttoninput-radio{
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: block;
}

.input-text{
  border-radius: 0.35em;
}

/*
  PRODUCT-ITEM -------------------
*/

.single-product{
  /*max-width:1200px;*/
  margin:30px;
  display:flex;
  justify-content: space-evenly;
  /*border: 1px red solid;*/
}

.single-product-left img{
  width:100%;
  left: 0;
  top: 0;
  transition: all 0.3s ease;
}

.single-product-left{
  /*border:1px solid red;*/
  width:55%;

}

#product-image{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.single-product-right{
  padding: 70px 30px 30px 30px;
 /* border:1px solid red;*/
  width:45%;
  max-width: 500px;

}

.product-description {
  border-bottom: 1px solid #CDB76E;
  margin-bottom: 20px;
  max-width: 500px;
}


.product-description h1 {
 color: #989184;
}

.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: /*#86939E*/darkgray;
  line-height: 24px;
}

.product-color{
  border-bottom: 1px solid #CDB76E;
  margin-bottom: 20px;
}

.product-color a {
  color: #358ED7;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  margin: 10px 0;
  display: inline-block;
}

.product-color a:before {
  content: "?";
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid rgba(53, 142, 215, 0.5);
  display: inline-block;
  text-align: center;
  line-height: 16px;
  opacity: 0.5;
  margin-right: 5px;
}

.color-choose{
  padding-top: 20px;
  padding-bottom: 20px;

  max-width: 500px;
}

.color-choose>button{
  width:40px;
  height:40px;
  border-radius:50%;
  cursor: pointer;
  border:2px solid white;
  box-shadow: 0 2px 3px #ddd;
  outline:none;
}

.red{
  background-color:#9D2933;
}


.black{
  background-color:black;
}

.brown{
  background-color:#7C4B00;
}

.golden{
  background-color:#EACD76;
}


.product-price p{
  color: grey;
  font-size: 22px;
}

@media screen and (max-width:1200px){
  .single-product{
    flex-direction: column;
  }

  .single-product-left{
    /*border:1px solid red;*/
    width:95%;
    margin:auto;
  }

  .single-product-right{
    /*border:1px solid red;*/
    width:95%;
    margin:auto;
  }
}

/*ABOUT US*/

.about-us{
  margin: 30px;
  display:flex;

}

.about-img{
  width: 50%;

}

.about-img>img{
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.about-text{
  width: 50%;
  padding: 40px;

}

.about-text>h1{
  color: #989184;
}

.about-text>p{
  line-height: 30px;
}

@media screen and (max-width:1200px){

   .about-us{
    flex-direction: column;
  }

   .about-img{
    width: 80%;
    margin: auto;
   }

   .about-text{
    width: 80%;
    margin: auto;
   }



  }
